<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
       
      </div>
      <div class="add-user">
        <div>
            <p>sửa người dùng</p>
        </div>
        <form action="/handleedituser/user/<%= oneu.id%>" method="post">
            <div>
                <label for="">first name</label><br>
                <input type="text" name="firstname" value="    <%= oneu.firstname %>">
            </div>
            <div>
                <label for="">last name</label><br>
                <input type="text"  value=" <%= oneu.lastname %>" name="lastname">
            </div>
            <div>
                <label for="">mail</label><br>
                <input type="text" value=" <%= oneu.mail %>" name="mail">
            </div>
            <button name="edituser">submit</button>
        </form>
      </div>
      

</body>
</html>