<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/script.js">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">upfile</a>
      
      </div>
    
   <form action="" enctype="multipart/form-data" method="post">
    <label for="img">img</label><br>
    <input type="file" name="fileup"><br>
    <button>lưu</button>
   </form>
  
</body>
</html>